


body{
background-image: "public/coolHue-FDEB71-F8D800.png";
}



/* Loader */

.Loader {
  padding-top: 10%;
 
 }

.Loader span {
 margin-left: 50%;

}

.Loader p {
 color: white;
 margin-left: 43%;
 }

 /* Capcha*/

 .imgCapcha {
  height: 100px;
  width: 255px;
 }